/asd.sad

#vue
3. product-details/product-details/package-lock.json
3. product-details/product-details/.browserslistrc
3. product-details/product-details/.editorconfig
3. product-details/product-details/jsconfig.json

3. product-details/product-details/babel.config.js